<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>oidc_issuer</key>
	<string>https://idp.example.com</string>
	<key>oidc_clientid</key>
	<string>someclientid</string>
	<key>myuw_host</key>
	<string>http://localhost:8000</string>
	<key>myuw_affiliation</key>
	<string>/my/affiliation/endpoint</string>
	<key>link_terms</key>
	<string>https://www.washington.edu/online/terms/</string>
	<key>link_privacy</key>
	<string>https://www.washington.edu/online/privacy/</string>
	<key>link_eula</key>
	<string>https://itconnect.uw.edu/tools-services-support/academic-planning/myuw-help-center/myuw-mobile-apps/ios-eula/</string>
	<key>link_help</key>
	<string>mailto:help@uw.edu</string>
</dict>
</plist>
